html,body{
    background-color:black;
    color: white;
    height: 100%;
    width: 100%;
}

#full_body{
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}
#access_bar{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 95%;
    flex-grow: 0;
    flex-shrink: 0;
    padding:2% 0% 0% 2%;
    row-gap: 20px;

}

#web_icon{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    flex-grow: 0;
    flex-shrink: 0;
    column-gap: 5px;
    
}

#web_icon p{
    font-size: large;
    padding:10px 0px 10px 0px;
}
#web_icon i{
    font-size: 20px;
    padding-left: 10px;
}
#access_names{
    padding:2px 0px 0px 2px;
}

#header img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#full{
    position:absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    column-gap: 10px;
    justify-content: space-between;
    padding:10px 10px 0px 0px;
    height: 10%;
    width: 80%;
    flex-grow: 0;
    flex-shrink: 0;
}

#present_music{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    flex-grow: 0;
    flex-shrink: 0;
}

#profile_head{
    display: flex;
    flex-direction: row;
    width:10%;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    column-gap: 20px;
}

#header{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 80%;
    flex-grow: 0;
    flex-shrink: 0;
    row-gap: 50px;
    overflow-y: scroll;
}

#gap{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 10%;
    flex-grow: 0;
    flex-shrink: 0;
}
#middle{
    display: flex;
    flex-direction: column;
    height: 80%;
    flex-grow: 0;
    flex-shrink: 0;
}

#search{
    display: flex;
    flex-direction: row;
    width: 25%;
    border-radius: 25px;
    flex-grow: 0;
    flex-shrink: 0;
}

#personal{
    display: flex;
    flex-direction: column;
    width: 15%;
    flex-grow: 0;
    flex-shrink: 0;
}

#all_best_songs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap:100px;
    row-gap: 50px;
}

#all_best_songs img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

#all_playlist{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    text-align: center;
}

#language{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#inside-language{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}


#playlist_info{
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
}