{% extends 'main.html' %}
{% block content %}
<div id="middle">
  
    <div id="gap"></div>
    
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="search" placeholder="Search by song,artist,language" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="border: none;"><i class="bi bi-search" ></i></button>
    </div>
    <br>
    <div id="full_album_show">
        <div id="album_pic">
            <img src="{{ show.album_cover_url }}" alt="Playlist Image"  style="border-radius: 0;">
        </div>
        <div id="songs_album">
            {% for song in playlist_tracks %}
            <div id="each_song">
                <div id="song_ni">
                    <div><img src="{{song.album_cover_url}}" alt=""></div>
                    <div>{{song.name}}</div>
                </div>
                <button class="btn btn-info" style="width: fit-content;height:70%;display: flex;flex-direction: row;align-items: center;"id="play_song" onclick="update_my(this)" data-song-id="{{ forloop.counter }}" data-user-id="{{ user_id }}" data-url="{% url 'update_music_section_my'  user_id  forloop.counter %}">
                    <i class="bi bi-play" style="font-size: 20px;"></i>
                </button>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
    <div id="album_data">{{ playlist_name }}</div>
</div>
{% endblock %}