{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/playlist.css' %}">
    <title>Playlist Tracks</title>
</head>
<body>
    <h1>Playlist Tracks</h1>
    {% for track in playlist_tracks %}
    <div id="each_track">
        <div id="s_no">{{ forloop.counter }}</div>
        <div id="img"><img src="{{ track.album_cover_url }}" alt="{{ track.name }} Album Cover"></div>
        <div id="name">{{ track.name }}</div>
        <div><a href="{{ track.preview_url }}" target="_blank"><button>Play</button></a></div>
        <form method="post" action="{% url 'add_to_playlist' %}">
            {% csrf_token %}
            <input type="hidden" name="playlist_url" value="{{ playlist_url }}">
            <input type="hidden" name="track_name" value="{{ track.name }}">
            <input type="hidden" name="album_cover_url" value="{{ track.album_cover_url }}">
            <input type="hidden" name="preview_url" value="{{ track.preview_url }}">
            <button type="submit">Add to Playlist</button>
        </form>
        <div>
            <audio controls>
                <source src="{{ track.preview_url }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
    {% endfor %}
</body>
</html>
