{% extends 'main.html' %}
{% block content %}
<div id="middle">
  
    <div id="gap"></div>
    
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="search" placeholder="Search by song,artist,language" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="border: none;"><i class="bi bi-search" ></i></button>
    </div>
    <br>
    <div id="full_album_show">
        <div id="genere_pic" style="background-color: {{ genere }}">{{genere_name}}</div>
        <div id="songs_album">
            {% for song in playlist_tracks %}
            <div id="each_song">
                <div id="song_ni">
                    <div><img src="{{song.album_cover_url}}" alt=""></div>
                    <div>{{song.name}}</div>
                </div>
                
                
                <form method="post" action="{% url 'add_to_playlist' user_id %}">
                    {% csrf_token %}
                    <input type="hidden" name="playlist_url" value="{{ song.playlist_url }}">
                    <input type="hidden" name="track_name" value="{{ song.name }}">
                    <input type="hidden" name="album_cover_url" value="{{ song.album_cover_url }}">
                    <input type="hidden" name="preview_url" value="{{ song.preview_url }}">
                    <button class="btn btn-dark" type="submit" style="width:fit-content;margin-left: 10px;"><i class="bi bi-plus-lg"></i></button>
                </form>
            
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
    <div id="album_data">{{ playlist_name }}</div>
</div>
{% endblock %}